<div id="landing" class="my-5 py-5 d-flex align-items-center">
  <div class="row w-100 d-flex align-items-center">
    <div class="col-lg-5 px-5 text-center">
      <img class="img-fluid" src="/assets/learn-by-yourself.png" alt="Learn by Yourself, Absurd Design">
    </div>
    <div class="col-lg-7">
      <h1>3-Day Intense <br>
        <strong class="text-secondary">Product Development Bootcamp</strong></h1>

      <div class="my-5 text-justify" style="width: 75%;">
        <p class="lead">
          Have an idea for the next big thing?<br>
          Always wanted to start your own startup, but not sure what the first step is?<br>
          Or you want to get placed at top companies like Google or Amazon?
        </p>

        <p>
          Join us for a comprehensive and exhaustive bootcamp over 3 days that covers the key steps in getting your
          ideas
          off the ground — and what requirements you need for success down the road.
        </p>

        <p>
          This bootcamp (workshop) is an opportunity for students to exercise their design and programming muscles
          throughout an entire product development experience from framing through ideation to launch.
        </p>
      </div>

      <button id="call-to-action" class="btn btn-outline-secondary btn-lg d-flex align-items-center py-2 px-4">
        <span>Get Started</span>
        <i class="material-icons pl-1 small">arrow_forward</i>
      </button>
    </div>
  </div>
</div>
