<div class="row my-5 py-5">
  <div class="col text-center">
    <h2 class="font-weight-bold mb-0">Subscribe to our Mailing List</h2>
    <span class="text-muted">Enter your email address below and sign up to know about any new workshops we will be
      conducting soon.</span>

    <form class="w-50 mt-5 mx-auto">
      <div class="input-group">
        <input class="form-control form-control-lg" type="email" placeholder="Enter your email address here">
        <div class="input-group-append">
          <button type="submit" class="btn btn-outline-secondary d-flex align-items-center" type="button">
            <i class="material-icons">markunread_mailbox</i>
            <span class="ml-1 font-weight-bold">Subscribe</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
