@media screen and (min-width: 640px) {
  #tech-stack {
    margin-left: 6%;
    margin-right: 6%;
  }
}

.logo {
  width: 100%;
  transition: all .2s ease-in-out;

  img {
    max-height: 100px;
  }

  &:hover {
    transform: scale(1.2);
  }
}