<div id="overview" class="row my-5 py-5">
  <div class="col-12 col-lg-6">
    <h2 class="font-weight-bold mb-4">Learning Objectives</h2>

    <p>The goal of this bootcamp is to apply specific topics of product development to practice including:</p>
    <ul>
      <li>How to get an idea off the ground
        <ul>
          <li>Building a Minimum Viable Product (MVP)</li>
          <li>Market research & analysis, Business & Revenue modelling</li>
        </ul>
      </li>
      <li>Choosing the technology stack</li>
      <li>Transforming the customer needs into intuitive UI/UX design workflows</li>
      <li>Implementing the design to working prototypes using hands-on programming</li>
      <li>Identifying the insights using AI/ML</li>
      <li>Build and Deploy the product on Cloud compatible with both Web/Mobile</li>
      <li>Go to Market Strategy
        <ul>
          <li>Acquire customers, monetize and pitch effectively to investors</li>
          <li>Sales and marketing</li>
        </ul>
      </li>
    </ul>

    <p>If you just want to land a job with a premier employer, then:</p>
    <ul>
      <li>How to impress a top notch interviewer with your hands-on technical skills</li>
    </ul>
  </div>
  <div class="col-12 col-lg-6">
    <h2 class="font-weight-bold mb-4">Learning Outcomes</h2>
    
    <img class="img-fluid mb-4" src="/assets/teaching.svg" alt="Teaching through Example" style="height: 250px">

    <p>Upon completion of the bootcamp, students will be able to manage tasks across the various phases of the product
      development process. They will be able to incorporate various business strategies and tools during the on-hands
      development workshop to demonstrate their usefulness in a tangible product concept. The product concept will be
      deployed and you will have a deep understanding of the problem and solution areas explored.</p>

    <p>After the 3-day intense bootcamp, most importantly you will have the self-confidence to enter the highly
      cut-throat startup landscape or a competitive corporate life without any hassle!</p>
  </div>
</div>
